/* You can add global styles to this file, and also import other style files */
@import url("tailwindcss");
header {
  padding: auto;
}
body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background-image: linear-gradient(130deg, rgb(0, 96, 83), rgb(0, 0, 194));
  color: #f0f0f0;
  font-size: large;
  font-weight: 500;
}